<?xml version='1.0' encoding='utf-8'?>
<plugin id="CBMS.Plugin.Hello" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CMBSHello</name><js-module name="CMBSHello" src="www/CMBSHello.js"><clobbers target="cordova.plugins.CMBSHello" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="CMBSHello"><param name="android-package" value="CBMS.Plugin.Hello.CMBSHello" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/CMBSHello.java" target-dir="src/CBMS/Plugin/Hello/CMBSHello" /></platform></plugin>